html, body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
	position: relative;
  margin-top: 40px;
	background-color: #FAF5E9;
	text-align: justify;
}

.jumbotron {
	padding: 180px 50px;
	background: url('../images/hanoi.png') no-repeat center / cover ;
}

.grad {
	background-image: linear-gradient(#FAF5E9, #FFCC00, #FAF5E9);
}

.grad1 {
	background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,204,0,1));
}

.navbar {
	background-color: #FAF5E9;
}

.navbar-toggler {
	border: 2px solid #009B4D;
}

.navbar-toggler-icon {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}

	.navbar-toggler:focus {
    box-shadow: none;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #009B4D;
	text-decoration: underline;
}

.btn {
	border: 1px solid #000;
	background-color: #FFCC00;
}

.btn:hover {
	color: #FAF5E9;
	border: 1px solid #009B4D;
	background-color: #009B4D;
}

.footer {
	color: #000;
}


section {
    padding-top:90px;
    margin-top:-50px;
}


.jumbotron button {
	border-color: #e90c54;
	color: #e90c54;
}

.jumbotron button:hover {
    color: #fff;
    background-color: #e90c54;
    border-color: #e90c54;
}

h3, h5 {
	font-family: 'Noteworthy', sans-serif;
 	color: #009B4D;
}

#dates .form-check-input:checked {
background-color: #FFCC00;
border-color: #FFCC00;
}

#dates .card {
	background-color: #FAF5E9 !important;
border: none !important;
}

#dates .list-group-item {
	background-color: #FAF5E9 !important;
}

#program .card {
	border: none;
}

.img-fluid {
    width: 150px; /* You can set the dimensions to whatever you want */
    height: 150px;
    object-fit: cover;
}

.img-kr {
	width: 50px; /* You can set the dimensions to whatever you want */
    height: 50px;
    object-fit: cover;
}

.list-group {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-group-item {
flex-basis: 33.3333%;
}